@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  color: #171717;
  background-color: #ededed;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

p, li, h3, h1 {
  font-size: 1.5em;
}

a {
  color: red;
  border: 1px solid blue;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

a:hover {
  color: #56bf43;
  background-color: #ad5a5a;
}

li {
  margin-top: 10px;
}

.content {
  max-width: 960px;
  margin: 0 auto;
}
